body{
    background-color: rgb(31, 30, 30);
    color: white;
}
.menu_options{
    align-self: center;
    background-color: black;
}

#logo{
    width: 30px;
    height: 30px;
    
}

#line1{
    color: white;
}

h1,h2,h3,p{
    color: white;
}